In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")

new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df.reindex(columns=new_column_order)

city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Mataura,NZ,2022-10-05 21:03:31,-46.1927,168.8643,39.47,91,100,8.68
1,Castro,BR,2022-10-05 21:03:31,-24.7911,-50.0119,68.20,77,100,2.68
2,Bluff,NZ,2022-10-05 21:03:32,-46.6000,168.3333,39.79,75,95,21.56
3,Bilibino,RU,2022-10-05 21:03:32,68.0546,166.4372,21.65,87,100,7.49
4,Salalah,OM,2022-10-05 21:03:32,17.0151,54.0924,78.06,80,100,3.40

In [3]:
# Get the data types
city_data_df.dtypes

City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Adjust Heatmap Zoom, Intensity, and Point Radius
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,Salalah,OM,2022-10-05 21:03:32,17.0151,54.0924,78.06,80,100,3.40
8,Rondonopolis,BR,2022-10-05 21:03:34,-16.4708,-54.6356,82.54,62,94,5.73
15,Mae Ramat,TH,2022-10-05 21:03:36,16.9840,98.5166,76.80,93,71,1.57
23,Lufkin,US,2022-10-05 21:02:07,31.3382,-94.7291,85.91,36,0,5.75
26,Butaritari,KI,2022-10-05 21:03:39,3.0707,172.7902,82.06,71,10,18.37
30,Brokopondo,SR,2022-10-05 21:03:41,4.7500,-55.1667,87.91,58,29,1.99
37,Avarua,CK,2022-10-05 21:03:44,-21.2078,-159.7750,78.85,69,20,19.57
38,Kang,BW,2022-10-05 21:03:45,-23.6752,22.7876,77.54,16,1,10.67
48,Atuona,PF,2022-10-05 21:04:48,-9.8000,-139.0333,77.00,74,7,16.60
52,Clyde,US,2022-10-05 21:04:49,41.3042,-82.9752,76.68,39,38,3.83

In [15]:
preferred_cities_df.count()

City          173
Country       172
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4        Salalah      OM     78.06  17.0151   54.0924
8   Rondonopolis      BR     82.54 -16.4708  -54.6356
15     Mae Ramat      TH     76.80  16.9840   98.5166
23        Lufkin      US     85.91  31.3382  -94.7291
26    Butaritari      KI     82.06   3.0707  172.7902
30    Brokopondo      SR     87.91   4.7500  -55.1667
37        Avarua      CK     78.85 -21.2078 -159.7750
38          Kang      BW     77.54 -23.6752   22.7876
48        Atuona      PF     77.00  -9.8000 -139.0333
52         Clyde      US     76.68  41.3042  -82.9752

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Salalah,OM,78.06,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
8,Rondonopolis,BR,82.54,-16.4708,-54.6356,Serras Hotel
15,Mae Ramat,TH,76.80,16.9840,98.5166,บ้านโฮ่งโฮมสเตย์ แม่ระมาด ตาก
23,Lufkin,US,85.91,31.3382,-94.7291,Courtyard by Marriott Lufkin
26,Butaritari,KI,82.06,3.0707,172.7902,Isles Sunset Lodge
30,Brokopondo,SR,87.91,4.7500,-55.1667,Matu Island
37,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
38,Kang,BW,77.54,-23.6752,22.7876,Kang Ultra Stop
48,Atuona,PF,77.00,-9.8000,-139.0333,Villa Enata
52,Clyde,US,76.68,41.3042,-82.9752,Red Roof Inn Clyde

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))