# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [4]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("WeatherPy_vacation.csv")

# Display sample data
vacation_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Karangasem,ID,76.48,light rain,-8.4500,115.6167,Villa Campuhan
1,10,Ponta Do Sol,PT,75.70,few clouds,32.6667,-17.1000,Hotel do Campo
2,12,Rach Gia,VN,79.45,overcast clouds,10.0167,105.0833,Nhà Hàng Hòa Giang
3,15,Kolaras,IN,73.47,overcast clouds,25.2333,77.6000,Shiv Shakti Garden (Gayatri Colony)
4,18,Vaini,TO,73.56,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
5,21,Wanning,CN,78.13,overcast clouds,18.8003,110.3967,Paradise Hotel
6,23,Meulaboh,ID,75.49,overcast clouds,4.1363,96.1285,Kost Pria
7,28,Kapaa,US,79.11,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,29,San Quintin,MX,74.05,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
9,38,Akyab,MM,81.46,few clouds,20.1500,92.9000,ဟိုတယ် မန်မိုရီ

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [10]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Union"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Union"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "South River"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Brigantine"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Filadelfia"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [96]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

(40.6334, -74.2663)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [97]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode = 'DRIVING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [75]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,162,Union,US,79.90,clear sky,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford
1,183,South River,US,79.88,clear sky,40.4465,-74.3860,Holiday Inn Express & Suites Tower Center New ...
2,124,Brigantine,US,78.21,clear sky,39.4101,-74.3646,Legacy Vacation Resorts - Brigantine Beach
3,201,Filadelfia,US,79.43,clear sky,39.9523,-75.1638,"The Ritz-Carlton, Philadelphia"

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [101]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [102]:
# Add a marker layer for each city to the map.
marker_layer = marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))